[submodule "app/backend"]
	path = app/backend
	url = https://github.com/webrobot1/app-backend
[submodule "app/game"]
	path = app/game
	url = https://github.com/webrobot1/app-game
[submodule "app/help"]
	path = app/help
	url = https://github.com/webrobot1/app-help
[submodule "app/user"]
	path = app/user
	url = https://github.com/webrobot1/app-user
